
.box{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
    
}

.box1{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}

.box2{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}

.box3{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}

.box4{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}

.box5{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}

.box6{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}

.box7{
    background-color: rgb(218, 218, 218);
    border: 9px; 
    border-radius: 6px;
    border-width: 3px;
    width: 16%;
    height: auto;
    box-shadow: 20px;
    opacity: 90%;
    padding-top: 8px;
    padding-left: 2px;
    padding-bottom: 1px;
    display: none;
    margin-top: 3px;
    position: absolute;
    z-index: 2;
    
}
.lista{
    font-size: medium;
}
.clista{
    text-shadow: 3px;
    color: rgb(51, 51, 51);
}