/* Cores background */
.bg-yellow{
	background-color: rgb(252, 252, 10);
}

.bg-light-pink{
	background-color: rgba(255, 209, 241, 0.925);
}

.bg-light-gray{
	background-color: rgba(212, 198, 198, 0.788);
}

.bg-dark-pink{
	background-color: rgba(197, 146, 155, 0.877);
}

.bg-orange{
	background-color:rgba(241, 82, 19, 0.932);
}

.bg-dark-gray{
	background-color: rgba(141, 137, 137, 0.753);
}

.bg-darkest-gray{
	background-color: rgba(27, 27, 27, 0.753);
}
/* Peculiaridades da tabela 1*/
.text-faltas{
	font-size: 8px;
}

.fonte-size-10px{
	font-size: 10px;
}

section.main-ficha-biografica{
	display: flex;
	flex-direction: column;
	padding: 20px;
	font-family: Arial !important;
	font-size: 11px;
    color: black;
	width: 100%;
}

.div-ficha-biografica-primeira-linha, .div-ficha-biografica-segunda-linha{
	width: 100%;
	font-family: Arial !important;
}

.div-ficha-biografica-primeira-linha{
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}

.section-ficha-biografica-top-left{
	max-width: 80px;
}

.section-ficha-biografica-top-left img{
	width: 100%;
}

.section-ficha-biografica-top-center{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 400px;
	align-items: center;
}

.color-black{
    color: black;
}

.article-insignia-text p, td p{
    margin-bottom: 0;
	font-family: Arial !important;
}

.div-insignia-img{
	max-width: 70px;
}

.div-insignia-img img{
	width: 100%;
}

.section-ficha-biografica-top-right{
	border: 1px solid black;
	width: 90px;
    height: 120px;
}

.text-uppercase{
	text-transform: uppercase;
}

.section-title{
	margin: 0 0 30px 0;
}

.section-title h1{
	font-size: 12px;
	font-weight: normal;
	text-align: center;
}

.div-subtitle{
	display: flex;
	justify-content: space-between;
	margin-bottom: 3px;
}


.div-subtitle h3{
	font-size: 12px;
	font-weight: normal;
}

mr-10{
	margin-right: 10px;
}

.div-personal-data{
	border: 1px solid black;
	padding: 9px 9px 1px 9px;
	border-bottom: none !important;
}

.first-p-div-personal-data{
	margin-bottom: 6px;
	display: flex;
}

.second-p-div-personal-data{
	margin-bottom: 6px;
}

.section-table-ficha-biografica table{
	width: 100%;
}

.section-table-ficha-biografica table, .section-table-ficha-biografica table tr td{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 2px 5px;
	font-family: Arial !important;
}

.mt-40{
	margin-top: 40px;
}

.mb-3{
	margin-bottom: 3px;
}

.d-flex{
	display: flex;
}

.section-descricao-div-1{
	width: 86%;
}

.ml-10{
	margin-left: 10px;
}

.separate{
	letter-spacing: 1px;
}

.mt-10{
	margin-top: 10px;
}

.mr-5{
	margin-right: 30px;
}

.justify-content-center{
	justify-content: center;
}

.border-bottom-none{
	border-bottom: none !important;
}

.px-10{
	padding: 0 59px;
}

.pt-0{
	padding-top: 0px !important;
}

.section-texto-descritivo-final-div-1, .section-texto-descritivo-final-div-2
{
	border: 1px solid black;
	padding: 5px;
	font-family: Arial !important;
	width: 100%;
}

.section-texto-descritivo-final-div-2{
	border-left: none;
}

.justify-content-between{
	justify-content: space-between;
}

.text-red{
	color: red;
}

#print-button{
	background-color: #174183;
	color: white;
}

/*************************************************************
						TO PRINT
************************************************************/
@media print {
	#header{
		display: none;
	}

	aside{
		display: none;
	}

	#main {
		margin-top: 0;
		padding: 2px 2px;
		padding-bottom: 5px;
	}

	section.main-ficha-biografica{
		padding: 2px;
		font-size: 9px;
	}

	.section-ficha-biografica-top-right{
		border: 1px solid black;
	}

	.section-title h1{
		font-size: 9px;
	}

	#section-btn-print{
		display: none;
	}

	#footer{
		display: none;
	}
}