/*Arquivo de estilizacao com css*/
:root {
    scroll-behavior: smooth;
    --bs-cor-principal: #174183;
    --red: #C31919;
    --green: #259330;
    --yellowish-green: #C1BB20;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 20px;
    z-index: 99999;
    background: var(--bs-cor-principal);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}
  
  .back-to-top:hover {
    background: #6776f4;
    color: #fff;
}
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
}

#main{
    padding: 10px;
}

/*********************************************

    #Estilizando a pauta

**********************************************/


/*************
Css para prints
**************/
@media print{
    .no-print, .footer, .header, .sidebar, .back-to-top{
      display: none;
    }
  
  }
  
h1 {
font-size: 30px;
margin-bottom: 0;
font-weight: 700;
text-transform: uppercase;
color: var(--bs-cor-principal);
}

.btn-imprimir{
    margin-top: 10px;
    width: 160px;
    display: block;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--bs-cor-principal);
    color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

img.insignia{
    width: 70px;
    height: 70px;
}

table.pauta-geral{
  margin: auto; 
  text-align: center; 
  margin-bottom: 50px;
  color: #000;
  font-family: times new roman;
  font-size: 9px;
}

table.pauta-geral, .cabecalho-tab-p, .corpo-tab-p, .linha-tab-p, .coluna-tab-p{
  cellspacing: 0;
}
.cabecalho-tab-p{
  text-transform: uppercase;
}

.cabecalho-tab-p h1{
  color: #000;
  font-family: times new roman;
  font-size: 30px;
}

.tx-cab-p{
  font-size: 15px;
}

.tx-curso-p{
  color: red;
  font-size: 20px;
}

.nome-dg{
  font-size: 11px;
  font-weight: bolder;
}

.ano-lec-p{
  font-size: 15px;
}

/***********Inicio do corpo da tabela pauta***********/
.linha-tab-p, .coluna-tab-p{
  border: 1px solid #000;
  padding: 2px;
}

.tx-turma-p{
  color: red;
  font-size: 18px;
}

.tx-disciplina-p{
  font-size: 12px;
}

.txnum-aluno-p, .txnome-aluno-p, .txproc-p{
  font-size: 12px;
}

.t-vert{
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 9px;
}

.t-vert-maisc{
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 9px;
  text-transform: uppercase;
}

.t-vert-falta-aluno-p{
  writing-mode: vertical-lr;
  -webkit-transform: rotate(-180deg);
  font-size: 8px;  
  text-transform: uppercase;
}

.c-tab-amarelo{
  background-color: yellow;
}

.c-tab-sinza-esq{
  background-color: #777;
}

.c-tab-sinza{
  background-color: #ccc;
}

/********Informacoes do aluno********/
.num-aluno-p{
  font-size: 12px;
}

.nome-aluno-p{
  font-size: 14px;
}

.num-proc-p{
  font-size: 14px;
}

.nota{
  font-size: 11px;
}

.nota-pos{
  color: blue;
}

.nota-neg{
  color: red;
}

.maisculo-p{
  text-transform: uppercase;
}


.txdecisao-p{
  font-size: 10px;
}


.cdfs{
  background-color: yellow;
}

  
  
  /*********************************************
  
      #Estilizando a Mini-pauta
  
  **********************************************/
  table.t-mini-pauta{
    width: 100%;
    margin: auto; 
    text-align: center; 
    margin-bottom: 50px;
    color: #000;
    font-family: times new roman;  
    font-size: 11pt;
  }
  
  .tx-cab-mp{
    font-size: 11pt;
  }
  
  .largura-8{
    font-size: 8pt;
  }
  
  .largura-9{
    font-size: 9pt;
  }
  
  .largura-10{
    font-size: 10pt;
  }
  
  .largura-18{
    font-size: 18pt;
  }
  
  .largura-24{
    font-size: 18pt;
    color: #07b85f;
  }
  
  
  /*******************Inicio do corpo da tabela mini-pauta*********************/
  .corpo-tab-mp, .linha-tab-mp, .coluna-tab-mp{
    border: 1px solid #000;
    padding: 2px;
  }
  
  .sm-cor{
    padding: 5px;
    border: 1px solid #000;
    border-right: 0.5px solid transparent; 
  }
  
  .bg-laranja{
    background-color: #fdd094;
  }
  
  .t-vert-mp{
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    font-size: 11pt;
  }
  
  .t-obliqua{
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-140deg); 
    padding: 10px;
  }
  
  .decide-mp{
    font-family: calibri;
    font-size: 14pt;
  }
  
  
  
  .col-trim-rodape{
    background-color: #d9f2fc;
  }
  
  /*********************************************
  
      #Estilizando o comunicado
  
  **********************************************/
  
  p.txt-comunic{
    font-size: 12pt;
    text-align: justify;
    text-indent: 50px;
  }
  
  .c-vazia{
    padding: 10px;
  }
  
  
  
  
  
  
  
  